@import "tailwindcss";

html, body, #root {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1 {
  font-weight: 700;
  color: white;
}

h2, h3 {
  font-weight: 600;
}
